#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.error {
  color: rgb(165, 39, 39);
}

.pipRoot {
  background: #def5de;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  flex-direction: column;
}